*.dSYM
.DS_Store
CLAUDE.md
.claude

*.onnx
*.safetensors
trace.json
odin-simd

*.tensor
tensorgen/safetensors
*.bin
*.o
*.exe
*.pdb

odinfmt.json

# windows' openblas lib
anvil/lib/windows/openblas/
flux-klein-model
lib/windows/openblas/
